body, html {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    font-family: 'Open Sans', 'Quicksand', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.section {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(400px, 4fr);
    grid-template-rows: minmax(120px, .8fr) minmax(500px, 5fr);
    min-height: 100vh;
    min-width: 100vw;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #007aff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 20px;
    position: relative;
    z-index: 1;
}

.navbar {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
    padding: 15px 50px;
    box-sizing: border-box;
    box-shadow: 0 10px 30px -18px black;
    position: relative;
}

.main {
    padding: 40px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(211, 211, 211);
    display: grid;
    grid-template-columns: minmax(600px, 6fr) minmax(200px, 2fr);
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}

.main > * {border: 1px solid black;}

.logo {
    color: white;
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 40px;
    text-align: center;
}

.btn {
    color: azure;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    padding: 5px;
    text-align: start;
    font-weight: 300;
}

.margin-top {
    margin-top: 30px;
}

.navbar-top {
    display: flex;
    align-items: center;
}

.search-bar-wrapper {
    display: inline-block;
    width: fit-content;
    margin-right: 200px;
}

.search-bar {
    margin-left: 10px;
    width: 900px;
    padding: 10px;
    font-size: 14px;
    border-radius: 25px;
    background-color:rgb(235, 235, 235);
    text-align: start;
    border: 0;
}

.search-bar:focus {
    outline: 1px solid black;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

img {
    height: 75px;
    width: 75px;
    border-radius: 100%;
}

.small-img {
    height: 50px;
    width: 50px;   
}

.navbar-bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cta-buttons {
    display: flex;
    gap: 20px;
}

.profile-name-small {
    font-size: 20px;
    margin: 0;
}

.cta {
    background-color: #007aff;
    padding: 10px 35px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 16px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.announcements {
    border: 0;
    grid-column:  2 / 3;
    grid-row: 1 / 2;
}

.announcements-wrapper {
    border-radius: 10px;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0px 0px 40px -25px black;
}

.announcement-card:last-child {
    border: 0;
}

.announcement-card {
    margin: 0 30px;
    padding: 25px 20px;
    border-bottom: 1px solid gray;
    
}

h5 {
    font-size: 16px;
}

.main h2 {
    margin-bottom: 25px;
}

.announcement-card > p {
    font-size: 13px;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}